<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty name="serviceName" source="spring.application.name"/>
    <springProperty name="OTEL_HOST" source="contour.otlp.host"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <pattern>yyyy-MM-dd' 'HH:mm:ss.SSS</pattern>
                    <fieldName>timestamp</fieldName>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <omitEmptyFields>false</omitEmptyFields>
                    <pattern>
                        {
                            "level": "%level",
                            "message": "%message",
                            "traceId": "%X{traceId}",
                            "spanId": "%X{spanId}",
                            "loggerName": "%logger",
                            "threadName": "%thread",
                            "serviceName": "${serviceName}"
                        }
                    </pattern>
                </pattern>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <lineSeparator>|</lineSeparator>
                    </throwableConverter>
                </stackTrace>
            </providers>
        </encoder>
    </appender>
    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender"/>

    <root>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="OTEL"/>
    </root>
    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
</configuration>
